body{
    background-color: #f2f2f2;
    min-width: 450px;
    min-height: 450px;
    margin: 10px;
}
.main{
    background-color: #007bff!important;
    border-radius: 30px;
    padding: 20px;
    
}
.main h3{
    color: #fff;
}

.note{
    background-color: transparent;
    border-radius: 30px;
    padding-inline: 3   0px;
}
.note:focus, .note:focus-within{
    outline: none;
}
.add-note{
    border-radius: 30px!important;
}